html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1;
  margin: 0;
  font-family: "Montserrat", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 1920px;
  margin: 25px 0px;
  padding-bottom: 50px;
}


.App nav {
  text-align: center;
}

/* Styling for App component nav element anchor 
tag and Course component nav element anchor tag */
.App nav a,
.mybooks-nav a,
.journal-nav a {
  padding: 20px 20px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

/* Styling for the Home component main div */
.Page {
  margin-top: 40px;
  width: 100%;
  height: 52px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 5px;
  background-color: #D9D9D9;
}

// background-color: transparent;


header {
  max-width: 1920px;
  margin: 0 210px;
  padding: 0 0;

  .top {
    z-index: 1;
  }


  .icon {
    gap: 15px;
  }
}

main {



  .partOfTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

  }

  .nameOfTable {
    display: flex;
    gap: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #CCCCCC;

  }

  table {
    border: 1px solid black;
    display: table;
    border-collapse: collapse;
  }

  .editTable {
    background: #6D6D6D;
    height: 68.46px;

  }

  tr {
    border: 2px solid black;
  }

  td {
    padding-right: 150px;
    border: 1px solid black;

  }

  .menu {
    display: flex;
    align-items: center;
    background-color: yellow;
    z-index: 1;
  }
}

.footer {
  position: fixed;
  height: 160px;
  bottom: 0;

  .navigationOfHistory {
    display: flex;
    justify-content: space-around;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 657px;
  }

  .listOfNavigation {
    margin-top: 13px;
    display: flex;
    gap: 41px;
    position: absolute;
    z-index: 5;
    align-items: center;
  }
}

.GradPictures {
  gap: 11px;
  margin-bottom: 35px;
}