html{
  height: 100%;
}

body {
  height: 100%;
  line-height: 1;
  margin: 0;
  font-family: "Montserrat",system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
  padding-bottom: 50px;
}

header{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 395px;
  margin-bottom: 39px;
  
    .top {
      margin-top: 20px;
      position: absolute;
      z-index: 5;
    }

    .nav{
      gap: 60px;
    }

    .icon{
      gap: 15px;
    }
    
    .gradUp {
      width: 715px;
      height: 85px;
      transform: translate(753px, 0px);
      background: linear-gradient(270deg, #EDB300 1.41%, #FDE300 47.93%, rgba(253, 227, 0, 0.02) 100%);
    }
}


main {
  .themeGray {
    margin-bottom: 20px;
    width: 1863px;
    height: 196px;
    background-color: #D9D9D9;
  }
  .partOfTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;

  
  }
  .nameOfTable {
    display: flex;
    gap: 150px;
  }
  table {
    border: 1px solid black;
    display: table;
  }
  tr {
    border: 2px solid black;
  }
  td {
    padding-right: 150px;
    border: 1px solid black;
  
  }
}
.footer{
  position: fixed;
  height: 160px;
  bottom: 0;
  .navigationOfHistory {
    display: flex;
    justify-content: space-around;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 657px;
  }
  .listOfNavigation {
    margin-top: 13px;
    display: flex;
    gap: 41px;
    position: absolute;
    z-index: 5;
    align-items: center;
  }
  }
  .GradPictures {
    gap: 11px;
    margin-bottom: 35px;
  }
  .gradDown{
    width: 715px;
    height: 85px;
    background: linear-gradient(270deg, #EDB300 1.41%, #FDE300 47.93%, rgba(253, 227, 0, 0.02) 100%);
    transform: rotate(-180deg);
  }


